.movie-list{
    max-width: 800px;
    margin: 14px auto;

}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.movie-list article{
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    padding: 15px;
}

.movie-list strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;

}

.movie-list img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.movie-list a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    text-decoration: none;
    background-color: #116feb;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}